:root{
    background-color: lightseagreen;
}

.game-container{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    height: 100vh;
}

.card-container{
    display: grid;
    height: 450px;
    width: 450px;


    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px;

}

.card{
    height: 150px;
    width: 150px;
    color: #002B5B;
    background-color: #F45050;

    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 100px;
    border: 1px solid black;
    

}

.display-result-container{
    display: flex;
    height: 50px;
    width: 450px;
    background-color: #EEEEEE;
    justify-self: center;

    border-radius: 30px;
    border: 0.25px solid rgba(0,0,0,0.5);

    font-size: 24px;
    color: #454545;
    justify-content: center;
    align-items: center;
}

.game-button{
    height: 40px;
    width: 150px;
    border-radius: 30px;
    border: 0.25px solid rgba(0,0,0,0.5);

}

.button-container{
    display: flex;
    justify-content: space-between;
    width: 450px;
}

.player{
    display: flex;
    height: 50px;
    width: 400px;
    background-color: #EEEEEE;
    justify-self: center;

    border-radius: 30px;
    border: 0.25px solid rgba(0,0,0,0.5);

    font-size: 20px;
    color: #454545;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
}

.player-button{
    display: none;
}
